@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Inter", sans-serif;
}

.login__content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.login__item label {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}
.login__hr::before, .login__hr::after {
    content: "";
    border: 2px solid black;
    width: 100%;
}
.login__socials {
    display: flex;
    gap: 15px;
    margin-top: 70px;
}
.login__socials a {
    flex: 6;
    gap: 10px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0.6rem;
    justify-content: center;
    display: flex;
    color: black;
    text-decoration: none;
}
.login__socials a:hover {
    background-color: #eee;
}

input[type=text],
input[type=password] {
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    transition: background 0.5s;
    font-size: 18px;
    border-radius: 100px;
}

.login__btn {
    border: none;
    background-color: gray !important;
    color: black;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}